<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Class Project</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <main>{% block container %} {% endblock %}</main>
      <br>
      <nav>
        <a href="/">Display All Songs</a>
        <a href="/add-songs">Add Songs</a>
        <a href="/delete-songs">Delete Songs</a>
        <a href="/search-songs">Search Songs</a>
        <a href="/edit-songs">Edit Songs</a>
      </nav>
    </div>
  </body>
</html>