{% extends 'base.html' %} {% block container %}
<div>
  <h1>Edit songs</h1>
</div>
<form method="POST" action="/api/edit-songs">
    <input type="text" name="user_name" placeholder="username"/> <br>
    <input type="text" name="song_name" placeholder="song name"/> <br> 
    <h3>Change to:</h3>
    <input type="text" name="updated_user_name" placeholder="updated username"/> <br>
    <input type="text" name="updated_song_name" placeholder="updated song name"/> <br>
    <input type="submit" value="Submit" />
</form>
<img src="/static/images/enter.svg" alt="enter-icon" id="hp">
{% endblock %}